/* body{
    background-image: url(../images/hotel.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.info-title{
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: 12% 12% 70%;
}
 */

