body{
    background-image: url(/images/hotel.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.information{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.form{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    
}

#personal-info, #room-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 275px;
    height: 250px;
}
#personal-info-container, #room-info-container{
    border: 0;
}

#header{
    text-align: center;
    width: 70%;
    border: 0;
    color: rgba(0, 0, 0, 0.75);
}

.info-headers{
    padding-right: 35px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}

.submit{
    padding-right: 40%;
}

.title{
    font-size: 150px;
}
.subtitle{
    font-size: 75px;
    font-style: italic;
}